@model FluxoDeCaixa.Models.Movimento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sucesso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sucesso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalhe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caixa)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Caixa != null)
                @Html.Display(Model.Caixa.Id.ToString())

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cadastro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cadastro)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.MovimentoId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
